@import "extend";

$tmp_borderLine_color : $main-line-color;
#AccountLayout{
  animation-name: fade-in-2; animation-fill-mode: forwards; animation-duration: 750ms;;
  padding:15px;
}

#Account_title {
  &.no-user{
    color:dimgrey;
    text-align: center;
    margin-top:-15px;
  }
}

@keyframes slide-from-bottom2 { from{opacity: 0; top:100%;} to{opacity: 1; top:220px;}  }
@keyframes slide-from-right2 {  from{opacity: 0; right: -100%;} to{opacity: 1; right:0px;}  }

#AccountContent_layout{
  animation-name: slide-from-bottom2; animation-duration: 500ms; animation-delay: 500ms; animation-fill-mode: forwards;
  opacity: 0;
  position: absolute; left: 0px; top:220px;
  border-top-left-radius: 20px; border-top-right-radius: 20px;
  width:100%; height:100%;
  border-top: 1px solid $tmp_borderLine_color;
  box-shadow: 0px 0px 5px $tmp_borderLine_color;
  background: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(101,101,101,1) 100%);;
}


#AccountCard_slider{
  animation-name: slide-from-right2; animation-duration: 500ms; animation-delay:1s; animation-fill-mode: forwards;
  opacity: 0; height: 200px;
  position: absolute; top:-60px; z-index:100000;
  width:100%; white-space: nowrap; overflow-x: auto;
}

.myAccountCard_layout{
  margin-top:3px;
  max-width: 300px;
  display: inline-block;
  border-radius: 10px;
  background: $main-background2; box-shadow: 0px 0px 5px black;
  height:150px;
  width:70%; margin-left:5%; margin-right:5%;
  z-index:100001;

  &:nth-child(1){ margin-left:15%; }
  &:nth-last-child(1){ margin-right:15%;}
}

.mac{
  text-align: center;
  &.owner_name{
    font-size:12px; color:silver;
    position: absolute; top:10px; margin-left:7px;
    background: $main-background2; padding:3px 5px; border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    //border:1px solid gray;
  }
  &.bank_name {
    margin-top: 50px; font-weight: 600;
  }
  &.bank_num{
    margin-top:5px; font-weight: 400; font-size:13px;
    width:50%;
    color:silver;
    display: inline-block; margin-left:25%;
    &:active{
      color:$main-line-color;
    }
  }
  &.chipIcon_layout{
    display: inline-block;
    //position: absolute;
    margin-left:-70%;
    margin-top:-35px;
  }
  &.chip_icon{
    width:25px; height: auto;

  }
}

#plusAccount_icon{
  padding:5px; top:25px;
  position: relative; margin-top:-30px;
  border-radius: 35px; border: 3px solid $main-line-color; background: $main-background2; box-shadow: 0px 0px 7px $main-line-color;
  width:35px; height:35px;
}

#mac_slider_counter_layout{
  position: relative;
  top:100px; text-align: center;
}
.mac_slide_counter{
  display: inline-block; margin-right:5px;
  width:5px; height:5px; border-radius: 5px; background: none; border: 1px solid gray;
}
