@import "extend";

$tmp_borderLine_color : $main-line-color;
#AccountLayout{
  animation-name: fade-in-2; animation-fill-mode: forwards; animation-duration: 250ms;;
  padding:15px;
}

#Account_title {
  &.no-user{
    color:dimgrey;
    text-align: center;
    margin-top:-15px;
  }
}

@keyframes slide-from-bottom2 { from{opacity: 0; top:100%;} to{opacity: 1; top:220px;}  }
@keyframes slide-from-right2 {  from{opacity: 0; right: -100%;} to{opacity: 1; right:0px;}  }

$tmp_accountContent_back: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(101,101,101,1) 100%);
#AccountContent_layout{
  animation-name: slide-from-bottom2; animation-duration: 250ms; animation-delay: 250ms; animation-fill-mode: forwards;
  opacity: 0;
  position: absolute; left: 0px; top:220px;
  border-top-left-radius: 20px; border-top-right-radius: 20px;
  width:100%; height:100%;
  border-top: 1px solid $tmp_borderLine_color;
  box-shadow: 0px 0px 5px $tmp_borderLine_color;
  background: $tmp_accountContent_back;
}


#AccountCard_slider{
  animation-name: fade-in-2; animation-duration: 500ms; animation-delay:500ms; animation-fill-mode: forwards;
  opacity: 0; height: 200px;
  position: absolute; top:-60px; z-index:100000;
  width:100%; white-space: nowrap; overflow-x: auto;
}


@keyframes card-fade-in {  from{ opacity: 0.3; } to{ opacity: 1; } }
.myAccountCard_layout{
  margin-top:3px;
  max-width: 300px;
  display: inline-block;
  border-radius: 10px;
  background: $main-background2; box-shadow: 0px 0px 5px black;
  height:150px;
  width:70%; margin-left:5%; margin-right:5%;
  z-index:100001;
  opacity: 0.3;
  &:nth-child(1){ margin-left:15%; }
  &:nth-last-child(1){ margin-right:15%;}

  &.active{
    animation-name: card-fade-in; animation-duration: 500ms; animation-fill-mode: forwards;
    opacity: 1;
  }
}
.mac_deleteBtn{
  display: inline-block;
  float: right; margin-right:5px; width:15px; height:15px; margin-top:5px;
  //border-radius: 5px; background: #3E3C42; box-shadow: 0px 0px 3px rgb(255, 124, 140);
  & img{
    width:15px; height:15px;
  }
}

.mac{
  text-align: center;
  &.owner_name{
    font-size:12px; color:silver;
    position: absolute; top:10px; margin-left:7px;
    background: $main-background2; padding:3px 5px; border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    //border:1px solid gray;
  }
  &.bank_name {
    margin-top: 50px; font-weight: 600;
  }
  &.bank_num{
    margin-top:5px; font-weight: 400; font-size:13px;
    width:50%;
    color:silver;
    display: inline-block; margin-left:25%;
    &:active{
      color:$main-line-color;
    }
  }
  &.chipIcon_layout{
    display: inline-block;
    //position: absolute;
    margin-left:-70%;
    margin-top:-35px;
  }
  &.chip_icon{
    width:25px; height: auto;

  }
}

#plusAccount_icon{
  padding:10px; top:30px;
  position: relative; margin-top:-40px;
  border-radius: 35px; border: 3px solid $main-line-color; background: $main-background2; box-shadow: 0px 0px 7px $main-line-color;
  width:35px; height:35px;
}

#mac_slider_counter_layout{
  animation-name: fade-in-2; animation-duration: 500ms; animation-delay: 1000ms; animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  top:100px; text-align: center;
}
.mac_slide_counter{
  display: inline-block; margin-right:5px;
  width:5px; height:5px; border-radius: 5px; background: none; border: 1px solid gray;
  &.active{
    border: 1px solid $main-line-color; box-shadow: 0px 0px 5px $main-line-color;
    background: $main-line-color;
  }
}

#mac_info_infoLayout{
  animation-name: fade-in-2; animation-duration: 500ms; animation-delay: 1500ms; animation-fill-mode: forwards;
  opacity: 0;
  position: relative; top:130px;
}

#mac_info_box_layout{
  text-align: center;
}
#mac_info_settleCnt_box{
  width:40%; display: inline-block;
  background: $tmp_accountContent_back; padding: 5px; margin-right: 5px; border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  text-align: center; font-size:15px;
  margin-bottom:-20px;
}
#mac_info_settleSumPrice_box{
  width:40%; display: inline-block;
  background: $tmp_accountContent_back; padding: 5px; margin-left:5px; border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  text-align: center; font-size:15px;
  margin-bottom:-20px;
}
.mac_info{
  &.title{ color: silver; }
  &.value{ color: white; font-weight: 400; font-size:13px;}
}

#addMyAccount_layout{
  background: $main-background2; margin:0px 20px; border-radius: 10px;
  padding:20px 25px 20px 25px;
  box-shadow: 0px 0px 5px black;
}

#addMyAccount_bankName_select{
  background: none; outline: none; padding:5px 5px; color:white;
  margin-bottom:10px; border-radius: 5px;
  & option{
    color: black;
  }
}
#addMyAccount_input_accountNum{
  display: inline-block; color:white;
  outline: none; background: none; border:none; border-bottom:1px solid gray;
  &.active{ border-bottom-color: $main-line-color; }
}

#addMyAccount_authBtn{
  display: inline-block;
  float: right; padding:3px 10px;
  font-size:13px; border-radius: 5px;
  background: none; border: 1px solid gray; color:gray;
  &.grant{
    color:white;
    background: $main-background2; box-shadow: 0px 0px 5px black;
    border:none;
  }
}

#addMyAccount_realName_layout{
  margin-top:10px;
  opacity: 0; font-size:14px;
  color: silver;
  &.active{
    animation-name: fade-in-2; animation-duration: 500ms; animation-fill-mode: forwards;
    opacity: 1;
  }
}
#addMyAccount_realName{
  display: inline-block; margin-left:20px;
  color:white; font-weight: 700;
}

#addMyAccount_registBtn{
  opacity: 0.5;
  margin-top:20px;
  text-align: center; font-size:14px;
  width:90%; margin-left:5%; padding:5px 0px; border-radius: 10px;
  border:1px solid gray; color:gray;
  &.grant{
    animation-name: fade-in-2; animation-duration: 500ms; animation-fill-mode: forwards;
    opacity: 1;
    border:1px solid $main-line-color; box-shadow: 0px 0px 5px $main-line-color;
    background: $main-background2; color:white;
  }
}