@import "extend";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  background-color: $main-background2;
  font-family: "Noto Sans KR", sans-serif !important;
}
a{
  text-decoration: none;
  color:white;
}
a:active{
     color:$main-line-color;
}
#AppLayout{
  z-index: -1;
  position: absolute; left:0px; top:0px;
  padding-bottom:15px;
  border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;
  background: $main-background2;
  height: auto;
}

@media only screen and (max-width: 800px) {
  #AppLayout{ width:100%; height: max-content; min-width:320px;}
}

@media only screen and (min-width: 801px) {
  #AppLayout{ width:800px; height: max-content; margin-left: calc( 50% - 400px ); }
}

//@keyframes sliderNoti-move-from-right {  from{ right:-50px; } to{ right:0px; }  }
//@keyframes sliderNoti-move-from-left { from{ left:-50px; } to{ left:0px; } }
//@mixin sliderNoti_animation{ animation-duration: 250ms; animation-fill-mode: forwards; }

@keyframes slideNoti-fade-in { from{opacity: 0;} to{opacity: 0.4;} }
@mixin sliderNoti_animation{ animation-name: slideNoti-fade-in; animation-duration: 250ms; animation-fill-mode: forwards; }

#AppSlideDirectionNoti_layout{
  text-align: center;
  @include sliderNoti_animation;
  position: absolute; z-index:100001;
  width:50px; vertical-align: middle;
  height:100%; background: black; opacity: 0.4;
  //box-shadow: 0px 0px 10px $main-line-color;
  & img{
    vertical-align: middle; position: relative;
    width: 30px; height:30px;
  }
  &.go-right-page{
    //animation-name: sliderNoti-move-from-right;
    //@include sliderNoti_animation;
    border-top-left-radius: 50px; border-bottom-left-radius: 50px;
    right:0px;
  }
  &.go-left-page{
    //animation-name: sliderNoti-move-from-left;
    //@include sliderNoti_animation;
    border-top-right-radius: 50px; border-bottom-right-radius: 50px;
    left:0px;
  }
}