@import "extend";
body {
  background-color: #eeeeee;

}
a{
  text-decoration: none;
  color:white;
}
a:active{
     color:$main-line-color;
}

@media only screen and (max-width: 600px) {
  #AppLayout{
    z-index: -1;
    min-width:320px;
    position: absolute; left:0px; top:0px;
    width:100%; height: max-content;
    padding-bottom:15px;
    border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;
    background: $main-background2;
  }
}

@media only screen and (min-width: 601px) {
  #AppLayout{
    z-index: -1;
    position: absolute; left:0px; top:0px;
    width:600px; height: max-content;
    padding-bottom:15px;
    border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;
    background: $main-background2;
    margin-left: calc( 50% - 300px );
  }
}