body{
  color:white;
}
$logo-background : linear-gradient(90deg, rgba(142,240,244,1) 0%, rgba(35,195,224,1) 100%);
$logo-background2: linear-gradient(90deg, rgba(142,240,244,1) 0%, rgba(47,165,171,1) 45%, rgba(33,164,187,1) 100%);
$main-background : linear-gradient(90deg, rgba(82,208,183,1) 0%, rgba(95,212,191,1) 31%, rgba(157,228,216,1) 55%, rgba(219,244,243,1) 100%);
$main-background2 :linear-gradient(90deg, rgba(38,38,38,1) 0%, rgba(69,77,77,1) 100%);
$main-background3 :linear-gradient(90deg, rgba(38,38,38,0.5) 0%, rgba(69,77,77,0.5) 100%);

$main-line-color : rgb(70,236,231);

font.bold{
  font-weight: 900;
  margin:0px 1px;

  color:$main-line-color;
}

.iconBox-right{
  margin-top:2px; display: inline-block;
  width:17px; height:17px;
  position: relative; float: right;
}

.small-icon{
  width: 17px; height:17px;
}
.settle_icon{
  display: inline-block; position: relative; float: right;
  width: 20px; height: 20px;
  margin-right:15px;
}


@keyframes spinnig {
  from { transform: rotate(0deg); }  to { transform: rotate(360deg); }
}

@keyframes fade-in { from{opacity: 0;}  to{opacity:1;} }


