body{
  color:white;
}

$logo-background : linear-gradient(90deg, rgba(142,240,244,1) 0%, rgba(35,195,224,1) 100%);
$logo-background2: linear-gradient(90deg, rgba(142,240,244,1) 0%, rgba(47,165,171,1) 45%, rgba(33,164,187,1) 100%);
$main-background : linear-gradient(90deg, rgba(82,208,183,1) 0%, rgba(95,212,191,1) 31%, rgba(157,228,216,1) 55%, rgba(219,244,243,1) 100%);
$main-line-color : rgb(70,236,231);

@keyframes border-lining {
    from{border-bottom:0px solid #26272b;}
    to{ border-bottom:2px solid $main-line-color;}

}

@keyframes expanding {
  from{width: 0px; opacity: 0; margin-left:50%; margin-top:10%; height:0px; }
  to{width:100%; opacity: 0.9;  margin-left:0px; margin-top:0px; height:100px; }
}

@keyframes spinnig {
  from { transform: rotate(0deg); }  to { transform: rotate(360deg); }
}

@keyframes fade-in { from{opacity: 0;}  to{opacity:1;} }


