@import 'extend';

#TopSection{
 margin-top:25px;
}

#MainLogo{
  display: inline-block;
  //background: rgb(220,26,223);
  background: $logo-background2;
  width:130px; height: 30px; margin-left:25px; padding:5px 5px;
  border-radius: 5px;
  font-size:15px; font-weight: 500; text-align: center; color:white;
}

#AppLogo{
  animation-name: spinnig;
  animation-duration: 3s;
  width:25px; height:25px; height: auto;
}

#AppLogo_text{
  display: inline-block; line-height: 25px; padding-right: 5px;
  margin-left:10px; font-weight: 600;
  vertical-align: super;
}

#LoginBtn{
  float: right; margin-right:25px;
  padding:5px 15px; border-radius: 5px;
  background: none; font-weight: 500; font-size: 17px;
  color: $main-line-color; font-weight: 600;
  border:2px solid $main-line-color;
  display: inline-block;
}

#tabMenuSection{
  margin-top:15px;
  padding-left:10px;
}
.tabMenu{
  display: inline-block;
  float: left; margin:5px 5px;
  min-width: 30px; text-align: center;
  color:gray; font-weight: 600;
  width:auto; padding:5px 5px;
  //border-bottom: 0px solid none;

}

 .tabMenu:active{
   border-bottom-color: $main-line-color;
   color:$main-line-color;
 }
 .tabMenu:hover{
   border-bottom-color: $main-line-color;
   color:$main-line-color;
 }
