@import 'extend';

@keyframes expanding-width {
    from{overflow: auto; white-space: nowrap; width:0%;}
    to{white-space: nowrap; width:100%;}
}

#HistoryLayout {
  //text-align: center;
  animation-name: fade-in-2; animation-fill-mode: forwards; animation-duration: 700ms;
}
#HistoryTitle{

}
#History_userName_box{
  margin-left:7px; color:white; font-weight: 600;
  display: inline-block;
}
#History_noUser_noti{
  color: dimgrey;
  text-align: center;
}

#HistoryContent_layout{
  margin-top:-15px; margin-bottom:-40px;
}

.HistoryContent_line{
  margin: 10px 7px 0px 7px;
}
.HistoryContent{
  display: inline-block;
  &.title{
    display: block;
    background: #383a3f;
    box-shadow: 2px 2px 4px black;
    padding:10px 5px; border-radius: 5px;
    font-size:13px; color:silver;
  }

  &.value{
    color:white;
    margin-left:15px;
    font-size:14px; font-weight: 600;
  }

  &.unit{
    margin-left:3px; margin-right:30px;
    font-size:14px; color:silver;
  }
}

@keyframes icon-spin-180_1 {
  from { transform: rotate(0deg); }  to { transform: rotate(180deg); }
}
@keyframes icon-spin-180_2 {
  from { transform: rotate(180deg); }  to { transform: rotate(360deg); }
}

.HistoryContent_detail_btn{
  display: inline-block; color:#eeeeee;
  background: none; padding:0px 5px; box-shadow: 0px 0px 5px cyan; border-radius: 5px;
  float: right; margin-right:5px;
  &.listDown{
    & img {

    }
  }
  &.listUp{
    & img{

    }
  }

  & img{
    width:15px; height:15px; margin-top:2px;
    &.listUp{
      animation-name: icon-spin-180_1; animation-fill-mode: forwards; animation-duration: 250ms;
    }
    &.listDown{
      animation-name: icon-spin-180_2; animation-fill-mode: forwards; animation-duration: 250ms;
    }
  }
}



@keyframes fade-in-5 { from{opacity: 0;} to{opacity: 0.2} }
$scrollNoti_borderRatio: 50%;
@mixin scrollNoti_animation{
  animation-name: fade-in-5; animation-duration: 500ms; animation-fill-mode: forwards;
}
@mixin scrollNoti_layout{
  opacity: 0; height:50px; background: black; width:95%; left:2.5%;
  position: absolute; z-index:100001;
  box-shadow: 0px 0px 20px #eeeeee;
}

#detailView_scrollNoti_top{
  @include scrollNoti_layout;
  margin-top:45px;border-bottom-left-radius: $scrollNoti_borderRatio; border-bottom-right-radius: $scrollNoti_borderRatio;
  &.active{ @include scrollNoti_animation; }
}

#detailView_scrollNoti_bottom{
  @include scrollNoti_layout;
  bottom:95px; border-top-left-radius: $scrollNoti_borderRatio; border-top-right-radius: $scrollNoti_borderRatio;
  &.active{ @include scrollNoti_animation; }
}

#detailView_selectListCnt{
  background: none; outline: none;
  margin-left:10px;  border-radius: 5px; padding:3px 5px;
  font-weight: 600; color:silver;
  & option{ color:black; }
}

.HistorySettleChild{
  position: relative; z-index: 100005;
  margin-top:15px; margin-left:5px; margin-right:5px;
  border-bottom:1px solid dimgrey; padding-bottom:15px;
  &:nth-last-child(1){ border-bottom:none; }
}
.HistorySettleChild_Content{
  margin-bottom:2px;
  &.date{
    display: inline-block; padding:3px 5px; border-radius: 5px; margin-bottom:5px;
    background: $main-background2; color:white; box-shadow: 3px 3px 5px black;
  }
  &.title{
    color: white; font-weight: 600;
  }
  &.cnt{
    color: #eeeeee; font-weight: 300;
  }
  &.sumPrice{
    color: #eeeeee; font-weight: 300;
  }

}

.HistorySettleChild_detailViewBtn{
  font-size:12px; background: #3E3C42; box-shadow: 0px 0px 3px $main-line-color; border-radius: 5px;
  padding:3px 5px;
  float: right;
}

#detailView_pagingLayout{
  text-align: center; padding:15px 0px 5px 0px;
}

.pagingDirectionBtn{
  display: inline-block;
  width:15px; height:15px;
  & img{width:15px; height:15px; vertical-align: middle;}
  &.prev{ margin-right:10px; }
  &.next{ margin-left:10px; }
}

.pagingBox_btn{
  display: inline-block;
  border: 1px solid dimgray; padding:2px 8px; border-radius: 5px;
  margin: 0px 6px;
  &.active{
    color:$main-line-color;
    border-color: $main-line-color; box-shadow: 0px 0px 2px;
  }
}