@import "extend";

@media screen and (max-width: 299px){
  #HomeLayout{ width:95%; margin-left:2.5%;}
}
@media screen and (min-width: 300px) and (max-width: 360px){
  #HomeLayout{ width:95%; margin-left:2.5%;}
}
@media screen and (min-width: 361px) {
  #HomeLayout{ width:95%; margin-left: 2.5%; }
}

@keyframes expanding {
  from{width: 0px; opacity: 0; margin-left:50%; margin-top:10%; height:0px; }
  to{width:100%; opacity: 0.9;  margin-left:0px; margin-top:0px; height:100px; }
}

@keyframes expanding2 {
  from{height:0px;} to{height: 200%;}
}

#HomeLayout{
  height:100%;
}



#Home_nouserContentLayout{
 margin-top:15px;
}

@mixin animation-slide-from-left{
  @keyframes slide-from-left5 { from{ left:-50%; opacity: 0; } to{ left:15px; opacity: 1; } }
  animation-name: slide-from-left5; animation-duration: 500ms; animation-fill-mode: forwards;
}

.nouser_welcomeMent{
  @include animation-slide-from-left;
  position: relative;
  left:15px;
  font-size:8vw; font-weight: 800;
  opacity: 0;
  &:nth-child(2){animation-delay: 500ms; }
  &:nth-child(3){animation-delay: 1000ms; }

  &.title{
    animation-delay: 1750ms; margin-top:20px; font-size:11vw;
    & img{
      margin-top:-7px; vertical-align: middle;
      width:22px; height: 22px; padding:5px; border:3px solid $main-line-color; border-radius: 5px; box-shadow: 0px 0px 3px $main-line-color;
    }
  }
}

@keyframes fade-in-6 {  from{opacity: 0;} to{opacity: 0.85;}  }
#Settle_directGoBtn{;
  animation-name: fade-in-6; animation-delay: 1750ms; animation-fill-mode: forwards; animation-duration: 1s;
  opacity: 0;
  position: fixed;
  bottom:10px;
  background: $logo-background2; box-shadow: 1px 1px 5px black;
  width:94%; left:2.5%; height:25px; border-radius: 10px; padding:10px 0px;
  text-indent:20px; font-size:15px; font-weight: 800; color:black;
  & img{
    width:20px; height:20px; transform: rotate(270deg);
    float: right; margin-right:10px;
  }
}


@keyframes ment-slide-from-left5 { from{left:-50%; opacity: 0;} to{left:0px; opacity: 1;} }
@keyframes ment-slide-from-right5 { from{right:-150%; opacity: 0;} to{right:0px; opacity: 1;} }
@mixin ment-animation{ animation-duration: 750ms; animation-fill-mode: forwards; }
#loginuser_welcomeLayout{
  margin:0px 10px;
}
#loginuser_welcomeMent{
  animation-name:ment-slide-from-left5; @include ment-animation;
  opacity: 0;
  position: relative;
  color:gray;
  font-size:6vw; font-weight: 500;
}
#loginuser_name{
  animation-name:ment-slide-from-right5; animation-delay: 250ms; @include ment-animation;
  opacity: 0;
  position: relative;
  color:white;
  font-size:8.5vw; font-weight: 800;
}

#loginuser_infoBox_layout{
  animation-name:fade-in-2; animation-duration: 500ms; animation-delay: 1s; animation-fill-mode: forwards;
  margin-top:30px; opacity: 0;
  .loginuser_infoBox{
    background: $main-background2; border-radius: 10px; padding:10px 0px; box-shadow: 0px 0px 5px black;
    display: inline-block;
    width:40%; margin:0px 4%;
    text-align: center;
  }
}

.lui_title{ font-size:4.5vw; color:silver; font-weight: 600; }
.lui_value{ font-size:4vw; color:gray; }




