@import "extend";

@media screen and (max-width: 299px){
  #HomeLayout{ width:95%; margin-left:2.5%;}
}
@media screen and (min-width: 300px) and (max-width: 360px){
  #HomeLayout{ width:95%; margin-left:2.5%;}
}
@media screen and (min-width: 361px) {
  #HomeLayout{ width:80%; margin-left: 10%; }
}

#welcomeContent{
  text-indent: 10px;
  padding-top:10px;
  animation-name: expanding; animation-duration: 1s; animation-fill-mode: forwards;
  background: #eeeeee;
  width:100%; height:100px; border-radius: 10px;
  opacity: 0.9;
  color: #3E3C42; font-weight: 600;
}

#welcomeText{
  animation-name: fade-in;
  animation-fill-mode: backwards;
  animation-duration: 1s; animation-delay: 1s;

}

#userNameBox{
  display: inline-block;
  margin-left:-10px;
  color:black; font-weight: 800;

}


