@import "extend";

@keyframes fade-in { from{opacity: 0;}  to{opacity:1;} }

#LoginModalLayout{
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  position: absolute;
  background: linear-gradient(90deg, rgba(198,198,198,0.23322832550989148) 0%, rgba(185,185,185,1) 100%);;
  background: $main-background2;
  margin-top:30px; border-radius: 10px;
  border: 1px solid #3E3C42;
  box-shadow: 0px 0px 10px black;
}

@media screen and (min-width: 361px) and (max-width: 500px) {
  #LoginModalLayout{ width:95%; margin-left: 2.5%; }
}
@media screen and (min-width: 300px) and (max-width: 360px){
  #LoginModalLayout{ width:95%; margin-left:2.5%;}
}
@media screen and (min-width: 501px) {
  #LoginModalLayout {width:470px; margin-left: calc( 50% - 235px ); }
}

#LoginModalContent{ padding:10px;}

#title{ font-size:18px; margin-left:10px; margin-top:15px; margin-bottom:15px; font-weight: 600; }

.LoginInput{ width:90%; font-size:17px; color:white; font-weight: 500;
            margin-bottom:20px; margin-left:4%; outline: none;
            background: none; border: none; border-bottom: 1px solid white; }
.LoginInput:nth-child(1) {
  margin-top:30px;
}

//#SNSLoginContent{
//  text-align: center;
//}
//
//.SNSLoginBtn{  height:45px; width:100%;}
//.SNSLoginBox{ width:90%; }

#findPassword{
  text-align: right; margin-right:5%;
  font-size:12px;
  color:gray;
}
#findPassword:hover{
  color:white;
}
#findPassword:active{
  color:white;
}

#actionBtnLayout{
  position: absolute; left:0px; bottom:0px;
  width: 100%; margin-top:20px;

}
.actionBtn{
  display: inline-block;
  text-align: center;
  height: 50px;
  width:50%;
  line-height: 50px;
}
#joinBtn{
   background: linear-gradient(90deg, rgba(130,146,164,1) 0%, rgba(106,109,113,1) 100%); color:white; border-bottom-left-radius: 10px;
}
#loginBtn{
 background: $logo-background2; border-bottom-right-radius: 10px;
}
