@import "extend";

@media screen and (max-width: 299px){
  #SettleLayout{ width:95%; margin-left:2.5%;}
}
@media screen and (min-width: 300px) and (max-width: 360px){
  #SettleLayout{ width:95%; margin-left:2.5%;}
}
@media screen and (min-width: 361px) {
  #SettleLayout{ width:94%; margin-left: 3%; }
}

@keyframes expanding-bottom { from{height:0px; opacity: 0;} to{height:191px; opacity: 1;} }

@keyframes form-expanding {
  //from{width:0px; height:auto; } to{width:90%; height:auto;}
  from{left:-100%; position: relative; } to{left:1%; position: relative; }
}

@keyframes fade-in-2 {
  from{opacity: 0; } to{opacity: 1; }
}

@keyframes fold-up { from{height: inherit;} to{ height:60px; overflow: hidden; } }
@keyframes fold-down {  from{height: 60px} to{height: 100%; } }

@keyframes icon-spin-180_1 {
  from { transform: rotate(0deg); }  to { transform: rotate(180deg); }
}
@keyframes icon-spin-180_2 {
  from { transform: rotate(180deg); }  to { transform: rotate(360deg); }
}

#SettleFormLayout{
  box-shadow: 0px 0px 4px black;
  animation-name: expanding-bottom;
  //animation-name: fold-up;
  animation-fill-mode: backwards;
  //animation-duration: 250ms;
  //background: #182734;
  background: rgba(0, 0, 0, 0.15);
  width:100%; height:auto; max-height: 470px;
  border-radius: 15px;
  margin-top:-15px;
}

#SettleFormLayout.moveUp{
  animation-name : fold-up;
  animation-fill-mode: forwards;
  animation-duration: 150ms;
}

#SettleFormLayout.moveDown{
  animation-name : fold-down;
  animation-fill-mode: forwards;
  animation-duration: 150ms;
}

#arrow_icon_img{
  position: relative;
  display: inline-block; float: right;
  width:18px; height: 18px; margin-right:10px;
}

#arrow_icon_img.rotate_1{
  animation-name : icon-spin-180_1;
  animation-fill-mode: forwards; animation-duration: 500ms;
}
#arrow_icon_img.rotate_2{
  animation-name : icon-spin-180_2;
  animation-fill-mode: forwards; animation-duration: 500ms;
}

#selectMeetCnt_layout{
  margin-left:15px;
}

#SettleContentLayout{
    padding:20px 5px;
   animation-name: fade-in;
  animation-fill-mode: backwards; animation-duration: 500ms;
  //animation-delay: 250ms;
}
#MeetCnt_select{
  width:100px; margin-left:5%; padding:5px 0px;
  background: none; border-radius: 5px;
  border:2px solid gray;
  text-indent: 5px; color:white;
  option{
    color:black; font-weight: 500;
  }
}

#settleForms_initBtn{
  display: inline-block; float: right; margin-right:10px; margin-top:4px;
  padding:3px 5px; background: $main-background2; box-shadow: 0px 0px 5px black;
  border-radius: 5px;
  font-size:13px; color: silver;
}

@media screen and (min-width: 601px){
  #SettleDetailForm_layout{
    width:98%;
    position: absolute; left:1%;
    display: inline-flex; flex-wrap: nowrap;
    flex-direction: row;
    //max-height: 400px;
    height:auto;  margin: 15px 0px; padding:15px 0px;
    overflow-y: scroll;
  }

  .settleInputForm{
    animation-name: fade-in-2;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
    color:gray;
    display: inline-block;
    width:48%; margin-right:1%; border-radius: 5px; margin-bottom:15px; padding-bottom:5px;
    //background: #686868;
    background:white;
  }
}
#personName_Layout{
  margin:15px 10px; padding-top:5px;
  display: inline-flex; flex-direction: row; justify-content: left; flex-wrap: wrap;
}
.personName_box{
  background: linear-gradient(90deg, rgba(44, 44, 44, 1) 5%, rgba(90, 88, 88,1) 75%);
  //background: $main-background2;
  box-shadow: 3px 3px 5px black;
  margin-right:5px; margin-bottom:5px;
  font-size:15px; font-weight: 800;
  display: inline-block; border-radius: 5px; ;
   color:#eeeeee; text-align: center; padding:3px 6px;
}
.personName_box_small{
  @extend .personName_box;
  font-size:13px;
}

#SettleDetailForm_layout{
  width:95%;
  position: absolute; left:2.5%;
  //max-height: 400px;
  height:100%;  margin: 15px 0px; padding:15px 0px;
  //overflow-y: scroll;
}

.settleInputForm{
  animation-name: form-expanding;
  animation-duration: 400ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
  background: $main-background2;
  box-shadow: 3px 3px 5px black;
  border: 1px solid #3E3C42;
  //box-shadow: 0px 0px 5px $main-line-color;
  //background: #686868;
  //background: $main-background2;
  width:96%; margin-left:1%; margin-bottom:15px; padding-bottom:5px;
  color:gray;
  border-radius: 5px;
}

.inputFormContent{
  animation-name: fade-in-2; animation-fill-mode: backwards; animation-duration: 1s;
  animation-delay: 1s;
  padding:10px;
  color:white;
}


.selectMeetCnt{
  display: inline-block;
  margin-right:10px;
  width:30px; text-align: center; padding:5px 10px; background: none;
  border: 2px solid gray; color:silver;
  border-radius: 5px;
}

.inputTitle{
  display: inline-block;
  color: white; font-weight: 500; font-size:15px; margin:0px 15px;
}

.inputForm{
  background: none; border:none; outline: none; border-bottom: 2px solid $main-line-color;
  width:40%; min-width: 150px; margin-left:10px;
  color: silver; font-weight: 600; font-size:15px; text-align: left;
}

.inputForm_title{
 @extend .inputForm; width:45%; max-width:220px;
 &.name{
   width:55%;
 }
}

.inputForm_personName{
  @extend .inputForm; widht:40%; min-width:100px; max-width:150px;
}

#SettleFinal_submit_btn{
  animation-name: fade-in-2; animation-fill-mode: forwards; animation-duration: 1s; animation-delay: 500ms;
  width:90%; margin-left:4.5%; margin-top:25px; padding:10px 0px;
  box-shadow: 0px 0px 5px silver;
  opacity: 0;
  background: none; color:gray; text-align: center; border-radius: 5px;
  &.grant{
    //border: 1px solid #3E3C42;
    box-shadow: 3px 3px 10px black;
    background: $logo-background2;
    //box-shadow: 0px 0px 5px $main-line-color;
    color:white;
  }
}
