@import "extend";

@keyframes slide-from-left2 {
  from{ opacity: 0; margin-left:-100%; } to{ opacity: 1; margin-left:5%; }
}

#SettleResultPage_layout{
  position: absolute;
  top: 0px; height:auto; width: 100%; left:0px;
  background: $main-background2;
}

#settleOwnerName{
  color:white; font-size:17px;
  & font{ color:gray; font-size:17px; }
}

#SettleResultPage_titleLogo{
  animation-name:slide-from-left2; animation-duration: 750ms; animation-fill-mode: forwards;
  display: inline-block;
  //background: rgb(220,26,223);
  background: none;
  border: 3px solid $main-line-color; box-shadow: 0px 0px 3px $main-line-color;
  width:130px; height: 30px; margin-left:5%; padding:5px 5px;
  border-radius: 5px; line-height: 30px;
  font-size:16px; font-weight: 600; text-align: center; color:$main-line-color;
  margin-bottom: 5px;
}

#BackBtn{
float: left; width:20px; height:20px; margin-top:5px;
  & img{ width:20px; height:20px; }
}

#Link_goIndexPage{ color: $main-line-color; }
#title_icon{
  float: left !important;
  width:25px; height:25px; margin-left:3px; margin-top:2px;
}
#SettleResultPage_title{
  animation-name:slide-from-left2; animation-duration: 750ms; animation-fill-mode: forwards;
  margin-top:15px; margin-bottom:20px; font-size:20px; font-weight: 600;
  margin-left:5%; width:90%; text-align: right;
  padding-bottom:3px; opacity: 0;
  border-bottom:1px solid $main-line-color;
}
#SettleResultPage_content{
  animation-name:fade-in-2; animation-duration: 750ms; animation-delay: 750ms; animation-fill-mode: forwards;
  opacity: 0;
  width:90%;
  margin: 15px 5%;
  height:500px;
}
.srp_subTitleContent{
  margin-bottom:15px;
}
.srp_subTitleBox{
  font-size:14px; margin-right:15px;
  background: #3E3C42; box-shadow: 1px 1px 5px black;
  display: inline-block; color:silver;
  padding:3px 10px; border-radius: 10px;
}
.srp_subTitle_value{
  display: inline-block;
  color:#eeeeee;
  font-size: 14px;
  &.personList{
    margin-top:10px;
  }
  &.account{
    & button{
      border:none; background: none; padding: 0px;
      color:#eeeeee; font-size:14px; font-weight: 600;
      border-bottom:1px solid $main-line-color;
    }

  }
}

.srp_personBox{
  display: inline-block; font-size:14px;
  margin-right:8px; padding:3px 8px; background: $main-background2;
  margin-bottom:5px;
  border-radius: 5px; font-weight: 500;
  border:1px solid $main-line-color;
  box-shadow: 0px 0px 5px $main-line-color;
  &.uncheck{
    box-shadow: none;
    font-weight: 200;
    color:gray; background: none; border: 1px solid gray;
  }
}
@keyframes slide-from-left3 { from{left:-50%; opacity: 0;} to{left:0px; opacity: 1;} }
#selectedPerson_settleInfoLayout{
  position: relative;
  margin: -10px 0px 20px 0px; width:50%;
  animation-name: slide-from-left3; animation-duration:500ms; animation-fill-mode: forwards;
  opacity: 0;
  background: $main-background2; box-shadow: 2px 2px 4px black; padding:10px 10px; border-radius: 5px;
}
.selectedPerson_infoLine{
  font-weight: 300;
  font-size:13px; color:silver;
  & div{
    display: inline-block;
    &.meetcnt{
      margin-left:5px;
      margin-right: 25px;
    }
    &.price{
       font-weight: 600;
    }
  }
}

#personSettle_sumPrice_layout{
  margin-top:5px; margin-left:5px;
  font-size:14px;
}
#personSettle_sumPrice_box{
  //border-top:1px solid gray; padding-top:5px; margin-top:10px;
}
#personSettle_sumPrice_value{
  display: inline-block; margin-left:35px;
  color:white; font-weight: 600;
}

#AccountCopySuccess_alertModal{
  animation-name: fade-in-2; animation-fill-mode: forwards; animation-duration: 500ms;
  display: none; opacity: 0;
  position: absolute; top:180px;
  background: black;
  width:60%; margin-left:13%; padding:10px; border-radius: 10px;
  color:white; font-weight: 600; text-align: center;
}
