@import "extend";

@keyframes slide-from-left2 {
  from{opacity: 0; margin-left:-100%;} to{opacity: 1; margin-left:5%;}
}

#SettleResultPage_layout{
  position: absolute;
  top: 0px; height:auto; width: 100%; left:0px;
  background: $main-background2;
}
#SettleResultPage_titleLogo{
  display: inline-block;
  //background: rgb(220,26,223);
  background: none;
  border: 3px solid white;
  width:130px; height: 30px; margin-left:5%; padding:5px 5px;
  border-radius: 5px; line-height: 30px;
  font-size:15px; font-weight: 500; text-align: center; color:white;
}
#title_icon{
  float: left !important;
  width:25px; height:25px; margin-left:3px; margin-top:2px;
}
#SettleResultPage_title{
  animation-name:slide-from-left2; animation-duration: 750ms; animation-fill-mode: forwards;
  margin-top:15px; margin-bottom:20px; font-size:25px; font-weight: 600;
  margin-left:5%; width:90%; text-align: right;
  padding-bottom:3px; opacity: 0;
  border-bottom:1px solid $main-line-color;
}
#SettleResultPage_content{
  animation-name:fade-in-2; animation-duration: 750ms; animation-delay: 750ms; animation-fill-mode: forwards;
  opacity: 0;
  width:90%;
  margin: 15px 5%;
  height:500px;
}
.srp_subTitleContent{
  margin-bottom:15px;
}
.srp_subTitleBox{
  font-size:14px; margin-right:15px;
  background: #3E3C42; box-shadow: 1px 1px 5px black;
  display: inline-block;
  padding:3px 10px; border-radius: 10px;
}
.srp_subTitle_value{
  display: inline-block;
  font-size: 14px;
  &.personList{
    margin-top:10px;
  }
}

.srp_personBox{
  display: inline-block; font-size:14px;
  margin-right:8px; padding:3px 8px; background: $main-background2;
  margin-bottom:5px;
  border-radius: 5px; font-weight: 500;
  border:1px solid $main-line-color;
  box-shadow: 0px 0px 5px $main-line-color;
  &.uncheck{
    box-shadow: none;
    font-weight: 200;
    color:gray; background: none; border: 1px solid gray;
  }
}