@import 'extend';

$tmp_fontColor: lightseagreen;
$tmp_copyBtn_back: linear-gradient(90deg, rgba(12,204,166,1) 0%, rgba(118,222,190,1) 50%, rgba(158,201,192,1) 100%);

@keyframes fade-in-3 {
  from{opacity: 0;} to{opacity: 0.8}
}
#SettleShareModal_layout{
  animation-name: fade-in-2; animation-duration: 500ms; animation-fill-mode: forwards;
  position: absolute; top: -5px; z-index: 100001;
  width: 100%; height:285px; box-shadow: 0px 0px 10px lightseagreen;
  background: linear-gradient(90deg, rgba(223,223,233,1) 10%, rgba(247,247,247,1) 50%, rgba(213,213,213,1) 100%);
  //background: $main-background2;
  border-radius: 5px;
}

#SettleShareModal_iconLayout{
  text-align: center;
  width:100%;height:auto;
  margin:20px 0px 10px 0px;
}
#SettleShareModal_icon{
  animation-name: fade-in-2; animation-delay: 500ms; animation-duration: 500ms; animation-fill-mode: forwards;
  width:50px; height:50px;
  opacity: 0;
}

#SettleShareModal_content{
  animation-name: fade-in-2; animation-delay: 1s; animation-duration: 250ms; animation-fill-mode: forwards;
  color:$tmp_fontColor;
  text-align: center; font-size:15px; font-weight: 600;
  opacity: 0;
}

#SettleShareModal_nouserGuide{
  background: none; display: inline-block; padding:3px 5px; border-radius: 5px;
  font-size:10px; color:black; font-weight: 600;
}

#SettleShareModal_copyBtn_layout{
  margin: 15px 0px 10px 0px;
  & button{
    background: $tmp_fontColor; box-shadow: 2px 2px 5px dimgrey; padding:5px 15px; border-radius: 5px; color:white; border:none;
    font-weight: 700; font-size:13px;
  }
}

#copySuccessAlertModal{
  animation-name:fade-in-3; animation-fill-mode: forwards; animation-duration: 250ms;
  position: absolute; display: none; top:100px;
  width:60%; margin-left:20%; background: black; opacity: 0; color: white; font-weight: 600;
  text-align: center; border-radius: 5px; padding:5px;
}

#SettleShareModal_confirmBtn{
  animation-name: fade-in-2; animation-delay: 1s; animation-duration: 250ms; animation-fill-mode: forwards;
  position: absolute; bottom:0px; opacity: 0;
  text-align: center; font-size:13px; font-weight: 600;
  background: $logo-background2; width: 100%; height:40px; line-height: 40px;
  border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
}


#SettleShareModal_kakaoLinkBtn{
  display: inline-block;
  text-align: center;
  font-size:12px;
  background: #FEE533; padding:4px 20px; border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  font-weight: 600;
  color: #3e2109; vertical-align: top;
  position: relative; top:15px;
  margin-bottom:50px;
  margin-top:-10px;
  & img{
    vertical-align: middle; margin-right: 5px; margin-bottom:2px;
    display: inline-block;
    width:20px; height:20px;
  }
  & a{
    color: #3e2109;
  }
}