@import "extend";

@media screen and (max-width: 299px){
  #SettleLayout{ width:95%; margin-left:2.5%;}
}
@media screen and (min-width: 300px) and (max-width: 360px){
  #SettleLayout{ width:95%; margin-left:2.5%;}
}
@media screen and (min-width: 361px) {
  #SettleLayout{ width:90%; margin-left: 5%; }
}

@keyframes expanding-bottom { from{height:0px; opacity: 0;} to{height:191px; opacity: 1;} }

@keyframes form-expanding {
  from{width:0px; height:auto; } to{width:90%; height:auto;}
}

@keyframes fade-in-2 {
  from{opacity: 0;} to{opacity: 1;}
}

#SettleFormLayout{
  animation-name: expanding-bottom;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  //background: #182734;
  background: #383a3f;
  width:100%; height:auto; max-height: 470px;
  border-radius: 10px;
}

#selectMeetCnt_layout{
  margin-left:15px;
}

#SettleContentLayout{
    padding:20px 5px;
   animation-name: fade-in;
  animation-fill-mode: backwards; animation-duration: 1s;
  animation-delay: 1s;
}
#MeetCnt_select{
  width:100px; margin-left:5%; padding:5px 0px;
  background: none; border-radius: 5px;
  border:2px solid gray;
  text-indent: 5px; color:white;
  option{
    color:black; font-weight: 500;
  }
}

@media screen and (min-width: 601px){
  #SettleDetailForm_layout{
    width:98%;
    position: absolute; left:1%;
    display: inline-flex; flex-wrap: wrap;
    flex-direction: row;
    height:auto; max-height: 400px; margin: 15px 0px; padding:15px 0px;
    overflow-y: scroll;
  }

  .settleInputForm{
    animation-name: fade-in-2;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    flex: 250px;
    color:gray;
    width:48%; margin-right:1%;
    //background: #686868;
    background:white;  border-radius: 5px;
    margin-bottom:15px;
  }
}
#personName_Layout{
  margin:15px 10px; padding-top:5px;
  display: inline-flex; flex-direction: row; justify-content: left; flex-wrap: wrap;
}
.personName_box{
  background: gray;
  margin-right:5px; margin-bottom:5px;
  display: inline-block; border-radius: 5px; ;
   color:white; text-align: center; padding:3px 6px;
}
.personName_box_small{
  @extend .personName_box;
  font-size:13px;
}

#SettleDetailForm_layout{
  width:95%;
  position: absolute; left:2.5%;
  height:auto; max-height: 400px; margin: 15px 0px; padding:15px 0px;
  overflow-y: scroll;
}

.settleInputForm{
  animation-name: form-expanding;
  animation-duration: 1s;
  animation-fill-mode: backwards;

  width:100%; //margin-left:2.5%;
  //background: #686868;
  background: white;
  color:gray;
  border-radius: 5px;
  margin-bottom:15px;
}

.inputFormContent{
  animation-name: fade-in-2; animation-fill-mode: backwards; animation-duration: 1s;
  animation-delay: 1s;
  padding:10px;
  color:white;
}


.selectMeetCnt{
  display: inline-block;
  margin-right:10px;
  width:30px; text-align: center; padding:5px 10px; background: none;
  border: 2px solid gray; color:silver;
  border-radius: 5px;
}

.inputTitle{
  display: inline-block;
  color: white; font-weight: 500; font-size:16px; margin:0px 15px;
}

.inputForm{
  background: none; border:none; outline: none; border-bottom: 2px solid $main-line-color;
  width:40%; min-width: 150px; margin-left:10px;
  color: silver; font-weight: 600; font-size:15px; text-align: left;
}

.inputForm_title{
 @extend .inputForm; width:65%; max-width:220px;
}


