@import "extend";

.innerForm_indexBox{
  display: inline-block; padding:3px 6px; border-radius: 10px;
  background: #383a3f; margin-top:2px; margin-bottom: 2px;
  box-shadow: 1px 1px 5px black;
  margin-right:10px;
  color: #eeeeee;
  font-size:11px;
}

.innerForm_titleValue{
  display: inline-block; vertical-align: top;
  margin-top:3px;
  width: 55%;
}

.innerFormContent{

}

.innerForm_title{
  margin-left:5px; margin-top:10px;
  display: inline-block; width:95%;
  //max-width: 500px;
  border-radius: 5px;
  padding:5px 10px; color:#eeeeee;
  font-size:13px;
}
.innerForm_personListBox{
  margin:15px;
}
.innerForm_personName{
  display: inline-block;
  margin-right:5px; margin-bottom:5px; padding:3px 6px;
  border-radius: 5px; border: 1px solid gray;
  font-size:12px; color:gray; text-align: center; font-width: 600;
  &.selected{
    background: $main-background2; box-shadow: 0px 0px 5px $main-line-color;
    color:white;
    border: none;
  }
}


.innerForm_inputPrice{
  display: inline-block;
  outline: none; border:none; border-bottom : 2px solid gray;
  background: none;
}

.settleCom_noti{
  display: inline-block;
  position: relative; float: right; margin-right:10px; padding:3px 5px;
  border-radius: 5px; color:silver; font-size:12px;
  background: $main-background2; box-shadow: 0px 0px 5px black;
}